@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  --blue: #003366;
  --light-blue: #004183;
  --green: #007d35;
  --green-light: #00af49;
  --bg: #2c2c2c;
  --radius: .5rem;
  --padding-default: 5rem 10rem;
  --h1-size: 3.5rem;
  --h2-size: 3rem;
  --h3-size:2rem;
  --p-size: 1.8rem;
  --default-bg: white;
  --default-color: white;

}



/* GERAL */
body{
  color: white;
  position: relative;
}

h1{
  font-size: var(--h1-size);
  font-weight: 400;
}

h2{
  font-size: var(--h2-size);
  font-weight: 300;
}

h3{
  font-size: var(--h3-size);
  font-weight: 300;
}
p{
  font-size: var(--p-size);
}

b{
  font-weight: 500;
}
ol, ul{
  padding: 0;
  margin: 1rem 0 1rem 3rem;
}

li ol li {
  list-style-type: lower-roman;
}

li{
  font-size: 2rem;
  margin: .5rem;
  line-break: auto;
}

blockquote{
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #cccc;
  padding: 1rem;
}

img{
  width: 50%;
}

hr{
  background-color: var(--blue);
  margin: 1rem;
  border: 1px solid var(--blue);
}

/* HEADER */
header{
  display: block;
  background-color: var(--default-bg);
  width: 100%;
  height: 100vh;
  color: var(--default-color);
}

.hero{
  width: 100%;
  height: 80vh;
  background-color: var(--blue);
  padding: var(--padding-default);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-info{
  width: 100%;
  height: 10vh;
  padding: var(--padding-default);
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color:  var(--light-blue);
}

.header-info a{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;

}

.header-info img{
  width: 4rem;
  margin-right: 1rem;
}

.hero-content{
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.call-to-action{
  background-color: var(--green);
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  color: var(--default-color);
  padding: 2rem 4rem;
  border-radius: var(--radius);
  align-self: center;
  transition: .1s linear;
  margin: 5rem 0;
}

.call-to-action:hover{
  background-color: var(--green-light);
  font-weight: 400;
}


.content-title h1{
  text-transform: uppercase; 
}

.content-title h3{
  background-color: var(--light-blue);
  margin-top: 1rem;
  padding: .5rem;
  border-radius: var(--radius) ;
}

.arrow{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


summary{
  /* width: 100%; */
  background-color: var(--green);
  color: white;
  border-radius: var(--radius);
  margin: 1rem;
  padding: 1rem;
  outline: none;
  cursor: pointer;
  text-align: center;
}

details{
  text-align: center;
}

details > img{
  width: 30%;
}

/* MAIN */
main{
  height: 100vh;
  display: grid;
  margin: 0rem 0;
  width: 100%;
  grid-template: 
  "caixas"; 
  gap: .5rem;
  padding: var(--padding-default);
}


/* SLIDES */

/*Boxes */
.boxes{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  grid-area: caixas;

}

.slide{
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 5rem;
  
}
.slide > .box{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  background-color: var(--blue);

  text-align: center;
  color: var(--default-color);
  cursor: pointer;
  transition: align-items .5s ease-in;
}

.slide > .box:hover{
  background-color: var(--green);
  justify-content: center;
}


.box-manipulation{
  display: flex;
}

 .boxes .slide{
  display: grid;
}

/* CONTEÚDO */
.close{
  display: none;
  position: fixed;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.close > svg{
  height: 3rem;
}

.navegation-on >.close{
  display: block;
  z-index: 300;
}

.select select{
  width: 30rem;
  padding: 1rem;
  border: 3px solid var(--blue);
  outline: none;
  border-radius: var(--radius);
  margin: 0 1rem;
}

.controles{
  display: none;
}

.navegation-on > .controles{
  display: flex;
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 300;
  transform: translate(-50%);
  
}

.controles .button-left{
  border: transparent;
  border-right: var(--green);
  border-width: 2rem;
  border-style: solid;
  cursor: pointer;
}

.controles .button-right{
  width: 4rem;
  height: 4rem;
  border: transparent;
  border-left: var(--green);
  border-width: 2rem;
  border-style: solid;
  cursor: pointer;
}

.progress-bar span{
  display: none;
}

.navegation-on > .progress-bar span{
  display: block;
  height: 1rem;
  background-color: var(--blue);
  width: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 310;
}

/* CONTEÚDO */


.box + .content{
  display: none;

}


.box-on + .content{
  display: flex;
  flex-direction: column;
  background: var(--default-bg);
  color: black;
  width: 100%;
  height: 100vh;
  padding: 10rem 2rem;
  justify-content: center;
  align-items: center;
  border: none;
  overflow-y: scroll;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: default;
}

.content h1{
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem;
  border-bottom: 1rem solid var(--green);
  margin-bottom: 4rem;
}

.content > div{
  text-align: left;
  max-width: 80rem;
  height: 100%;
  margin-bottom: 2rem;
}

.content p{
  font-size: 2rem;
}


/* PESQUISA */

.search{
  padding: var(--padding-default);
}

.search input{
  width: 30rem;
  padding: 1rem;
  outline: none;
  border: 2px solid var(--blue);
  background-color: var(--default-bg);
}

/* Scrollbar */

.content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--green);
}


/* MEDIA QUERIES */


@media screen and (max-width: 1024px) {
  main{
  grid-template:
  "caixas caixas" 1fr;
  }
  .icons{
    height:  100%;
  }
}

@media screen and (max-width: 550px){
  :root{
    --padding-default: 5rem 5rem;
  }
   #select-content{
     width: 15rem;
   }
  
}
@media screen and (max-width: 425px){
  :root{
    --padding-default: 5rem 2rem;
  } 
  .navegation-on > .controles{
    left: 0%;
    transform: translate(0, -5%);
  }
  .search input{
    width: 20rem;
  }
}

