@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;

  --blue: #003366;
  --light-blue: #004183;
  --green: #007d35;
  --bg: #2c2c2c;
  --radius: .5rem;
  --padding-default: 5rem 10rem;

}


/* GERAL */
body{
  color: white;
  position: relative;
}

h1{
  font-size: 4rem;
  font-weight: 400;
}

h3{
  font-size: 2.5rem;
  font-weight: 300;
}
p{
  font-size: 2rem;
}

b{
  font-weight: 500;
}

/* HEADER */
header{
  display: block;
  background-color: white;
  width: 100%;
  height: 100vh;
  color: white;
}

.hero{
  width: 100%;
  height: 90vh;
  background-color: var(--blue);
  padding: var(--padding-default);

  display: flex;
  flex-direction: column;
}

.hero-content{
  margin: 20rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.call-to-action{
  background-color: var(--green);
  font-size: 2.5rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
  padding: 2rem 4rem;
  border-radius: var(--radius);
  align-self: center;
  /* margin-right: 10rem; */
}


.content-title h1{
  text-transform: uppercase; 
}

.content-title h3{
  background-color: var(--light-blue);
  font-weight: 300;
  padding: 1rem 2rem;
  border-radius: var(--radius) ;
}

.arrow{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN */
main{
  display: grid;
  grid-template-areas: "arrow-left caixas arrow-right";
  gap: .5rem;
  height: 100vh;
  padding: var(--padding-default);
}

/* SLIDES */

/* Botões */
input{
  display: none;
}

/* Setas */
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 5rem;
  background-color: #c2c2c2;
}
.icon-1{
  grid-area: 'arrow-left';
}
.icons img{
  width: 3rem;
}
.icon-1 img{
  transform: rotateY(180deg);
}
.icon-2{
  grid-area: 'arrow-right';
}

/*Boxes */
.boxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 'caixas';
}

.slide{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 0.4rem;
  
}

.slide > div{
  display: flex;
  background-color: var(--blue);
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
  border-bottom: 1rem solid var(--green);
  text-align: center;
  color: white;
  cursor: pointer;
}

.slide > div:not(.content):hover{
  background-color: var(--light-blue);
}


.group-off{
  display: none;
}

/* SLIDE ON */
#rd-left:checked ~ .boxes .slide-left{
  display: grid;
}
#rd-right:checked ~ .boxes .slide-right{
  display: grid;
}

/* CONTEÚDO */

.close{
  display: none;
  position: fixed;
  width: 5rem;
  height: 5rem;
  top: 5%;
  right: 5%;
  z-index: 1;
}
.close span{
  display: block;
  background-color: rgb(201, 42, 42);
  width: 5rem;
  height: .5rem;
  margin: .5rem;
}

.close span:first-of-type{
  transform: rotate(45deg);
}
.close span:last-of-type{
  transform: rotate(-45deg) translate(.6rem,-.7rem);
}
.close-on{
  display: block;
  z-index: 300;
}


/* CONTEÚDO */
.box-off + .content{
  display: none;

}

.box-on + .content{
  display: block;
  display: block;
  background-color: white;
  color: black;
  width: 100%;
  height: 100vh;
  padding: 10rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}